data/USvideos.csv
data/IN_category_id.json
data/US_category_id.json
data/INvideos.csv

data/
*.npy
.ipynb_checkpoints/
__pycache__/
.DS_Store
# exceptions: these specific files ARE needed for the deployed Streamlit app
!data/cleaned_videos_part1.csv
!data/cleaned_videos_part2.csv
!data/embeddings_weighted.npy
