data/USvideos.csv
data/IN_category_id.json
data/US_category_id.json
data/INvideos.csv
data/cleaned_videos.csv

data/
*.npy
.ipynb_checkpoints/
__pycache__/
.DS_Store

# exceptions: un-ignore the data folder itself so file-level exceptions below can take effect
!data/
!data/cleaned_videos_part1.csv
!data/cleaned_videos_part2.csv
!data/embeddings_weighted.npy